.form{
	display: flex;
	flex-direction: columns;
	align-items: center;
	justify-content:space-around;
	
}

.text{
	font-size:25px;
	font-family:'Courrier New';
	border:0.1px solid 0066cc;
	padding:5px;
	text-decoration:none;
	background: radial-gradient(#000066, #0066cc);
	color:antiquewhite;
	border-radius:5%;
	box-shadow: 5px 5px 20px black;
}
